In [20]:
import pandas as pd
import sys
import mysql.connector
import os
from dotenv import load_dotenv
load_dotenv()

#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')

In [21]:
DB_DATABASE

'laravel'

In [ ]:

cnx = mysql.connector.connect(user=DB_USERNAME,
                              password=DB_PASSWORD,
                              host='localhost',
                              port=DB_PORT,
                              database=DB_DATABASE,
                              use_pure=False)

ProgrammingError: 1049 (42000): Unknown database 'laravel'

In [2]:
file=pd.ExcelFile("BIOSOL oficial 1.xlsx")

In [3]:
file.sheet_names

['Datos Entrada',
 'Temp',
 'HR',
 'Tn',
 'Olgyay',
 'Olgyay datos',
 'Isorreq',
 'Control Solar 1er Sem',
 'CS 1er sem datos',
 'CS 1er sem datos (2)',
 'Control Solar 2do Sem',
 'CS 2do sem datos',
 'Eficiencia Alero',
 'Eficiencia Partesol',
 'Irradiancia Horizontal',
 'Irradiancia Sup Inclinadas',
 'Cálculos irradiancia',
 'Cálculos iluminancia',
 'Eficacia Luminosa',
 'Iluminancia Horizontal',
 'Iluminancia Sup Inclinadas']

In [14]:
il_parameters=pd.read_excel("BIOSOL oficial 1.xlsx",sheet_name='Cálculos iluminancia', skiprows = 13, nrows=1,  usecols= 'F:O').fillna(0)

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [15]:
il_parameters

,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,21,-20.138015,29.08,0.344284,211,0.975327,1433.268875,0,90,0.0

In [9]:
il=pd.read_excel("BIOSOL oficial 1.xlsx",sheet_name='Cálculos iluminancia', skiprows = 15, nrows=25,  usecols= 'E:BI').fillna(0).iloc[1: , :]

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [5]:
len(il.columns)

57

In [7]:
il

,hora,Unnamed: 5,Unnamed: 6,Unnamed: 7,Z[°],Unnamed: 9,∈,m,m',Unnamed: 13,...,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60
1,01:00:00,165.0,-73.716869,60.072271,163.716869,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,02:00:00,150.0,-61.392242,78.641635,151.392242,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,03:00:00,135.0,-48.376277,88.120784,138.376277,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,04:00:00,120.0,-35.281146,95.111099,125.281146,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-0.125910,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,05:00:00,105.0,-22.314890,101.395227,112.314890,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-0.481383,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,06:00:00,90.0,-9.632722,107.769355,99.632722,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-1.798122,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,07:00:00,75.0,2.581069,114.797483,87.418931,443.389269,10.847842,16.718818,16.306316,0.109047,...,0.388806,19.312030,9.304010,185.774212,205.086242,22308.962518,19749.597914,35559.006027,14898.750995,17458.115599
8,08:00:00,60.0,14.059262,123.050540,75.940738,559.362742,4.159735,4.054484,3.954448,0.142654,...,0.244819,74.031188,2.177796,295.926257,369.957445,39358.065585,29608.947256,48380.461540,25595.285184,35344.403513
9,09:00:00,45.0,24.384588,133.205721,65.615412,658.951420,3.925244,2.411110,2.351621,0.144177,...,0.233474,107.229280,1.510316,410.887971,518.117251,55652.920690,40315.485294,61197.936331,38159.862930,53497.298325
10,10:00:00,30.0,32.905461,146.003910,57.094539,735.368501,4.132828,1.836497,1.791185,0.144501,...,0.224879,132.841471,1.281288,511.864664,644.706135,69827.410910,50168.881622,71200.464851,49560.189175,69218.718464
11,11:00:00,15.0,38.698646,161.859022,51.301354,783.406286,4.369307,1.596860,1.557461,0.144604,...,0.219132,149.047218,1.186217,581.014704,730.061922,79506.793875,57083.071470,77570.524056,57530.320934,79954.043339
12,12:00:00,0.0,40.781985,180.000000,49.218015,799.791080,4.465892,1.528782,1.491063,0.144630,...,0.217075,154.605725,1.159248,605.602178,760.207903,82947.785010,59565.733913,79758.232602,60392.970846,83775.021943
13,13:00:00,-15.0,38.698646,-161.859022,51.301354,783.406286,4.369307,1.596860,1.557461,0.144604,...,0.219132,149.047218,1.186217,581.014704,730.061922,79521.667159,57089.281429,77578.872497,57536.512571,79968.898301
14,14:00:00,-30.0,32.905461,-146.003910,57.094539,735.368501,4.132828,1.836497,1.791185,0.144501,...,0.224879,132.841471,1.281288,511.864664,644.706135,69884.361491,50193.500487,71232.420231,49582.432213,69273.293217
15,15:00:00,-45.0,24.384588,-133.205721,65.615412,658.951420,3.925244,2.411110,2.351621,0.144177,...,0.233474,107.229280,1.510316,410.887971,518.117251,55753.939352,40362.450518,61253.568282,38194.552133,53586.040967
16,16:00:00,-60.0,14.059262,-123.050540,75.940738,559.362742,4.159735,4.054484,3.954448,0.142654,...,0.244819,74.031188,2.177796,295.926257,369.957445,39464.478471,29666.662690,48433.887956,25623.549990,35421.365770
17,17:00:00,-75.0,2.581069,-114.797483,87.418931,443.389269,10.847842,16.718818,16.306316,0.109047,...,0.388806,19.312030,9.304010,185.774212,205.086242,22400.490646,19839.849081,35834.001175,15013.970308,17574.611873
18,18:00:00,-90.0,-9.632722,-107.769355,99.632722,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-1.798122,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,19:00:00,-105.0,-22.314890,-101.395227,112.314890,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-0.481383,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,20:00:00,-120.0,-35.281146,-95.111099,125.281146,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-0.125910,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,21:00:00,-135.0,-48.376277,-88.120784,138.376277,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,22:00:00,-150.0,-61.392242,-78.641635,151.392242,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,23:00:00,-165.0,-73.716869,-60.072271,163.716869,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
24,1900-01-01 00:00:00,-180.0,-81.058015,0.000000,171.058015,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [7]:
#Crear query para tablas 
for i in range(56):
    print("ALTER TABLE `iluminancia_mediciones` ADD `a"+str(i+2)+"` FLOAT NOT NULL AFTER `a1`;")

ALTER TABLE `iluminancia_mediciones` ADD `a2` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a3` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a4` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a5` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a6` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a7` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a8` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a9` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a10` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a11` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a12` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a13` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a14` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a15` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a16` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a17` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a18` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a19` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a20` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a21` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a22` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a23` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a24` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a25` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a26` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a27` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a28` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a29` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a30` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a31` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a32` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a33` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a34` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a35` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a36` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a37` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a38` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a39` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a40` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a41` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a42` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a43` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a44` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a45` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a46` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a47` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a48` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a49` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a50` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a51` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a52` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a53` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a54` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a55` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a56` FLOAT NOT NULL AFTER `a1`;
ALTER TABLE `iluminancia_mediciones` ADD `a57` FLOAT NOT NULL AFTER `a1`;